<web-app>
    <display-name>Widget Store</display-name>
    <servlet>
        <servlet-name>desserts-servlet</servlet-name>
        <servlet-class>widgetstore.web.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>desserts-servlet</servlet-name>
        <url-pattern>/desserts</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>logging-filter</filter-name>
        <filter-class>widgetstore.web.LoggingFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>Bananas are tasty</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>logging-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>