<web-app>
    <display-name>Widget Store</display-name>
    <servlet>
        <servlet-name>desserts-servlet</servlet-name>
        <servlet-class>widgetstore.web.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>desserts-servlet</servlet-name>
        <url-pattern>/desserts</url-pattern>
    </servlet-mapping>
</web-app>